---
title: Article
layout: default
description: 아티클
header-img: "img/tag-bg.jpg"
---

{% include intro-header.html type='page' short=true %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <!-- Tags (as filter) -->
      <div id='tag_cloud' class="tags tags-sup js-tags">
        <a class="tag-button--all" data-encode="">
          Show All
          <sup>{{site.articles.size}}</sup>
        </a>

        {% assign _all_tags =  site.articles | map: 'tags' | join: ','  | split: ',' | sort  %}
        {% assign _tags_for_counting = '' | split: ',' %}

        {% assign _previous_tag = '' %}
        {% assign _counter = 0 %}
        {% assign _canAdd = false %}

        {% for _tag in _all_tags %}
          {% if forloop.first %}
            {% assign _previous_tag = _tag %}
          {% endif %}

          {% if _tag == _previous_tag %}
            {% assign _counter = _counter | plus: 1 %}
          {% elsif _counter > 0 and _tag != _previous_tag %}
            {% assign _canAdd = true %}
          {% endif %}

          {% if forloop.last %}
            {% assign _canAdd = true %}
          {% endif %}

          {% if _canAdd == true %}
            {% assign _counting_format = _previous_tag | prepend: ',' | prepend: _counter %}
            {% assign _tags_for_counting = _tags_for_counting | push: _counting_format %}

            {% assign _counter = 1 %}
            {% assign _canAdd = false %}
          {% endif %}

          {% assign _previous_tag = _tag %}
        {% endfor %}

        {% capture tags %}
        {% for _counting_format in _tags_for_counting %}
        {% assign _tag_counting = _counting_format | split: ',' %}
        <a data-sort="{{ site.articles.size | minus: _tag_counting[0] | prepend: '0000' | slice: -4, 4 }}"
          data-encode="{{ _tag_counting[1] | strip | url_encode }}"
          class="tag-button"
          title="{{  _tag_counting[1] }}" rel="{{ _tag_counting[0] }}">
          {{ _tag_counting[1] }}
          <sup>{{ _tag_counting[0] }}</sup>
        </a>
        {% endfor %}
        {% endcapture %}
        {{ tags | split:'</a>' | sort | join:'</a>' }}
      </div>

      <!-- Article List -->
      <div class="mini-post-list js-result d-none">
      {%- assign _sorted_list = site.articles -%}
      {%- assign _sorted_list = _sorted_list | sort: 'date' -%}
      {%- assign _sorted_list = _sorted_list | reverse -%}


      {%- for _article in _sorted_list -%}
        {%- assign _tags = '' -%}
        {%- for _tag in _article.tags -%}
          {%- assign _tag_encode = _tag | strip | url_encode -%}
          {%- if forloop.last -%}
            {%- assign _tags = _tags | append: _tag_encode -%}
          {%- else -%}
            {%- assign _tags = _tags | append: _tag_encode | append: ',' -%}
          {%- endif -%}
        {%- endfor -%}

      {% comment %} group by year {% endcomment %}
      {%- assign _currentdate = _article.date | date: '%Y' -%}
      {%- if _currentdate != _date -%}
        {%- unless forloop.first -%}</section>{%- endunless -%}
        <section>
          <span class="fa listing-seperator">
            <span class="tag-text">{{ _currentdate }}</span>
          </span>
        {%- assign _date = _currentdate -%}
      {%- endif -%}

        <div class="post-preview item" data-tags="{{ _tags }}">
            <a href="{{ _article.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ _article.title }}
                </h2>
                {% if _article.subtitle %}
                <h3 class="post-subtitle">
                    {{ _article.subtitle }}
                </h3>
                {% endif %}
            </a>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
