---
title: Staff
layout: default
---

<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kodeveloper - Staff</title>
  <link rel="stylesheet" type="text/css" href="css/timeline.css" />
  <script src="js/modernizr.custom.js"></script>
</head>

<body>
  <div class="container" style="margin:0;padding:0;width:100%;">
    <header>
      <h1>Staff</h1>
      <!-- <img width="175" height="175" style="border-radius:50%;" src="/img/staff-avatar-sangjun.jpeg"> -->
    </header>
    <div class="main">
      <ul class="cbp_tmtimeline">
        {% for member in site.data.staff.active %}
          {% include staff-member.html member=member %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr />

  <div class="main">
    <h3 class="text-center">휴학생</h3>
    <ul class="cbp_tmtimeline">
      {% for member in site.data.staff.inactive %}
        {% include staff-member.html member=member %}
      {% endfor %}
    </ul>
  </div>
</body>

</html>